@model IYCDashboard.Models.DB.DirectoryCategory

@{
    ViewBag.Title = "Directory Category Details";
    Layout = "~/Views/Shared/_sharedLayout.cshtml";
}

<div>
    <br />
    <h4>Directory Category Details</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.LabelFor(model => model.CategoryName, new { @class = "col-sm-2 control-label" })
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CategoryName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CategoryID }, new { @class = "btn btn-link" }) |
    @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-link" })
</p>
